- @post.comments.each do |comment|
  %h4= User.find(comment.user_id).name
  %p= comment.text
  - if (@current_user and comment.user_id.eql? @current_user.id) or @current_admin
    = button_to 'Delete', {:controller => :comments,:action => :destroy ,:id => comment.id},:method => :delete
  %br